/* common */
* {
    box-sizing: border-box;
}
:root {
    --primary-color: #152427;
    --thin-bg: #e2eddf;
    --dark-bg: #143c3c;
}
html,
body {
    scroll-behavior: smooth;
}
html {
    font-family: "Poppins", sans-serif;
    font-family: "Public Sans", sans-serif;
    font-size: 62.5%;
}
body {
    font-size: 1.6rem;
}
/* Common */
.container {
    width: 1140px;
    max-width: calc(100%-48px);
    margin-left: auto;
    margin-right: auto;
}
a {
    text-decoration: none;
}
.btn {
    width: 173px;
    height: 57px;
    background: var(--dark-bg);
    border: 1.5px solid #143c3c;
    border-radius: 40px;
    font-family: "Public Sans";
    font-style: normal;
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 1.56;
    text-align: center;
    color: #ffffff;
}
.btn:hover {
    opacity: 0.8;
    cursor: pointer;
}
.section__heading {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 4.2rem;
    line-height: 1.24;
    color: #152427;
}
/* Header */
.header {
    margin-top: 28px;
}
.header-body {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 13px;
    border-bottom: 1px solid;
    border-image-source: linear-gradient(
        90deg,
        #ffffff 0%,
        #dddcdc 51.09%,
        rgba(213, 213, 213, 0) 99.68%
    );
    border-image-slice: 1;
}
.header--active::after {
    position: relative;
    content: "";
    display: block;
    width: 16px;
    height: 2px;
    background: #143c3c;
    bottom: -27px;
}
.header__list,
.header__nav {
    display: flex;
    align-items: center;
    justify-content: center;
}
.header__list li {
    margin-right: 38px;
}
.header__list li a {
    font-family: "Public Sans";
    font-style: normal;
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 1.56;
    color: var(--primary-color);
}
.header__list li a:hover {
    color: #575d5e;
}
.header__list li:last-child {
    margin-right: 88px;
}

/* Hero */
.hero {
    padding-top: 28px;
    display: flex;
    gap: 101px;
}
.hero__info {
    width: 32%;
}
.hero__heading {
    margin-top: 75px;
    font-family: "Public Sans";
    font-style: normal;
    font-weight: 800;
    font-size: 5rem;
    line-height: 1.2;
    color: #152427;
}
.hero__desc {
    margin-top: 20px;
    margin-bottom: 42px;
    font-family: "Public Sans";
    font-style: normal;
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 1.56;
    color: #575d5e;
}
.hero__action {
    display: flex;
    gap: 36px;
}
.hero__media {
    position: relative;
    display: flex;
    gap: 20px;
}
.hero__media img {
    z-index: 1;
}
.hero__figure,
.hero__pattern {
    position: absolute;
}
.hero__pattern {
    top: 122px;
    right: 150px;
    width: 340px;
    height: 340px;
    background: #4dbb9a;
    filter: blur(137px);
}
.hero__figure-1 {
    position: absolute;
    top: 9px;
    right: 214px;
}
.hero__figure-2 {
    position: absolute;
    top: -108px;
    right: -300px;
}
.hero__figure-3 {
    position: absolute;
    bottom: -43px;
    right: 27px;
}
.hero__figure-4 {
    position: absolute;
    left: 31px;
    bottom: -71px;
}
.hero__media img:nth-child(2) {
    margin-top: 109px;
}
/* Header-social */
.header-social {
    padding: 78px 121px;
    margin-top: 130px;
    height: 201px;
    background: #e2eddf;
    border-radius: 100.5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header-social__list {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 55px;
}
.header-social li a {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 31px;
    line-height: 46px;
    color: #143c3c;
}
.header-social li:nth-child(3) a {
    font-weight: 400;
    font-size: 26px;
    line-height: 39px;
}
.header-social li:nth-child(3) img {
    margin-right: 10px;
}

/* Service */
.service {
    margin-top: 106px;
    background: #fff;
    padding-bottom: 125px;
}
.service__title {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 1.6rem;
    color: #152427;
}
.service__title::before {
    content: "";
    display: inline-block;
    position: relative;
    width: 25px;
    height: 1px;
    left: 0;
    top: -9px;
    background: #152427;
    margin-right: 21px;
}
.service__info {
    margin-top: 12px;
    margin-bottom: 76px;
    display: flex;
    justify-content: space-between;
}
.service__heading {
    width: 45.6%;
}

.service__heading::after {
    position: relative;
    margin-left: 16px;
    margin-bottom: 7px;
    content: "";
    display: inline-block;
    width: 66px;
    height: 2px;
    background: #152427;
}
.service__action {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 17px;
}
.service__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
    border: none;
    background: transparent;
    width: 54px;
    height: 54px;
    border-radius: 50%;
    background: var(--thin-bg);
    text-align: center;
    color: #152427;
}
.service__btn:hover {
    color: #fff;
    background: var(--dark-bg);
    cursor: pointer;
}
/* Service item */

.service-row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 16px;
}
.service-item {
    transition: 0.25s;
}

.service-item__info {
    padding-top: 24px;
    padding-bottom: 15px;
    transition: 0.25s;
    border-color: transparent;
}
.service-item:hover .service-item__info {
    position: relative;
    padding-left: 18px;
    padding-bottom: 23px;
    border-radius: 0px 0px 20px 20px;
    background: #fff;
    cursor: pointer;
    border-color: transparent;
    border: 0.5px solid transparent;
    box-shadow: -6px 9px 64px -4px rgba(118, 118, 118, 0.25);
}
.service-item:hover .service-item {
    position: relative;
    cursor: pointer;
}
.service__img {
    display: block;
    width: 370px;
    height: 318px;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
    transition: 0.25s;
}
.service-item__label {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 2.2rem;
    color: #152427;
}
.service-item__desc {
    width: 72.4%;
    margin-top: 18px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.71;
    color: #7d8188;
}
/* About */
.about {
    margin-top: 57px;
    margin-bottom: 79px;
}
.about-body {
    display: flex;
}
.about__images {
    position: relative;
    display: flex;
    column-gap: 21px;
    margin-right: 64px;
}
.about__img--1,
.about__img--2 {
    width: 284px;
    height: 480px;
    object-fit: cover;
    border-radius: 210px;
    box-shadow: 0px 4px 234px 11px rgba(59, 137, 71, 0.25);
}
.about__img--1 {
    margin-left: 0;
    margin-top: 90px;
}
.about__img--2 {
    margin-top: 13px;
}
.about-media {
    position: relative;
}
.about-sumary {
    position: absolute;
    top: 405px;
    right: 55px;
    font-family: "Public Sans";
    font-style: normal;
    width: 143px;
    height: 144px;
    background: #ffffff;
    box-shadow: 0px 7px 54px rgba(154, 154, 154, 0.25);
    border-radius: 8px;
    padding: 19px 17px 11px 17px;
}
.about-pattern--1 {
    position: absolute;
    top: -29px;
    left: 47px;
}
.about-pattern--2 {
    position: absolute;
    transform: rotate(12.64deg);
    width: 541.69px;
    height: 360.64px;
    left: 51.18px;
    top: 23.11px;
}
.about-sumary__title {
    margin-bottom: 6px;
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 1;
    color: #152427;
}
.about-sumary__desc {
    margin-bottom: 10px;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.4;
    color: #575d5e;
    opacity: 0.4;
}
.about-sumary__value {
    margin-bottom: 3px;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.4;
    color: #152427;
}
.about-sumary__images::after {
    display: block;
    content: "";
    width: 56px;
    height: 2px;
    background: #eaeaea;
    border-radius: 10px;
}
.about-sumary__images {
    width: 96px;
    margin-bottom: 3px;
    display: flex;
}
.about-sumary__continue {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 3px;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.4;
    color: #152427;
}
.about-sumary__logo {
    margin-bottom: 4px;
}
.about__title {
    margin-bottom: 20px;
}
.about-sumary__avatar-group .about__title {
    margin-bottom: 20px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 1.12;
    color: #152427;
}
.about__title::before {
    margin-right: 21px;
    margin-bottom: 6px;
    content: "";
    display: inline-block;
    width: 25px;
    height: 1px;
    background: #152427;
}
.about__desc {
    margin-top: 11px;
    margin-bottom: 36px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 1.62;
    color: #7d8188;
}

.about-value {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 24px;
    padding-bottom: 20px;
    border-bottom: 1px solid #83a17d;
}
.about-value:last-child {
    margin-top: 36px;
}
.about-value__stats {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 4.2rem;
    line-height: 1.24;
    color: #152427;
}
.about-value__desc {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.71;
    color: #7d8188;
}
.avatar-group {
    display: flex;
    justify-content: space-between;
}
.about-sumary__avatar-info {
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.4;
    color: #152427;
}
.about-sumary__avatar {
    width: 16px;
    height: 16px;
    border: 1px solid #ffffff;
    border-radius: 50%;
}
.about-sumary__avatar-group img {
    margin-left: -8px;
}
.about-sumary__avatar-group:first-child img {
    margin-left: 0px;
}
/* Process */
.process {
    padding-top: 36px;
    margin-bottom: 148px;
}
.process-body {
    width: 1140px;
}
.process__title {
    margin-bottom: 20px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 1.12;
    color: #152427;
}
.process__title::before {
    margin-left: 7px;
    margin-right: 21px;
    margin-bottom: 6px;
    content: "";
    display: inline-block;
    width: 25px;
    height: 1px;
    background: #152427;
}
.process__heading {
    width: 42%;
    margin-bottom: 81px;
}
.process__heading::after {
    margin-left: 17px;
    margin-bottom: 8px;
    content: "";
    display: inline-block;
    width: 66px;
    height: 2px;
    background: #152427;
}
.process-row {
    position: relative;
    padding: 46px 41px 21px 20px;
    display: flex;
    transition: 0.25s;
}
.process-row:hover {
    padding-left: 30px;
    width: 1140px;
    height: 185px;
    background: #e2eddf;
    border-radius: 33px;
    cursor: pointer;
}
.process-row:hover.process-row::after {
    display: none;
}
.process-row:hover .process-row__link {
    display: block;
    transition: all ease 0.05s;
}
.process-row:hover .process__desc {
    display: none;
}
.process-row:hover .process__image {
    display: block;
    transition: all ease 0.05s;
}
.process-row::after {
    transition: 0.25s;
    position: absolute;
    bottom: 0;
    display: inline-block;
    content: "";
    width: 1131px;
    height: 3px;
    background: linear-gradient(
        180deg,
        #83a17d 4.17%,
        rgba(131, 161, 125, 0) 36.46%
    );
}
.process__content {
    display: flex;
    justify-content: space-between;
}
.process__order {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 7.2rem;
    line-height: 52px;
    color: #143c3c;
}
.process__order--repair {
    margin-right: 12px;
}
.process-row__desc {
    margin-left: 50px;
}
.process__label {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 2.2rem;
    line-height: 1;
    color: #152427;
}
.process-row__link {
    transition: 0.25s;
    display: inline-block;
    margin-top: 22px;
    text-decoration: underline;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 1;
    color: #575d5e;
    display: none;
}
.process__desc {
    transition: 0.25s;
    width: 50%;
    font-family: "Public Sans";
    font-style: normal;
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 1.56;
    color: #7d8188;
    /* display: none; */
}
.process__image {
    transition: 0.25s;
    display: none;
}
.process__img {
    transition: 0.25s;
    position: absolute;
    width: 450px;
    height: 444px;
    object-fit: cover;
    bottom: 0px;
    right: 92px;
}

/* Past */
.past {
    background: var(--dark-bg);
}
.past-body {
    padding: 116px 0 63px 0;
}
.past-intro {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 93px;
    margin-bottom: 65px;
}
.past__heading {
    position: relative;
    color: #e7f9f9;
}
.past__heading::after {
    position: absolute;
    bottom: 21px;
    right: 96px;
    display: inline-block;
    content: "";
    width: 66px;
    height: 2px;
    background: #83a17d;
}
.past__desc {
    margin-bottom: 13px;
    width: 590px;
    font-family: "Public Sans";
    font-style: normal;
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 1.56;
    color: #6a8383;
}
.past__link {
    margin-right: 23px;
    font-family: "Public Sans";
    font-style: normal;
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 1.56;
    color: #ffffff;
}
.past__video {
    width: 1140px;
    height: 544px;
    border-radius: 22px;
    object-fit: cover;
}

/* Feature */
.feature {
    font-family: "Poppins";
    font-style: normal;
    margin-top: 140px;
    margin-bottom: 184px;
}
.feature-info {
    width: 48%;
    margin: auto;
}
.feature__desc {
    margin-top: 20px;
    margin-bottom: 103px;
    text-align: center;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 1.62;
    color: #7d8188;
}
.feature-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 45px;
}
.feature-item {
    padding: 79px 27px 74px 37px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 350px;
    height: 362px;
    border: 1.5px solid #cecece;
    border-radius: 160px;
    transition: 0.25s;
}
.feature-item:hover {
    background: #ffffff;
    box-shadow: 0px 36px 100px rgba(111, 120, 111, 0.2);
    transform: translatey(-53px);
    border: transparent;
}
.feature-item:hover .feature-item__title p {
    margin-top: calc(var(--top - 3px));
    margin-bottom: calc(var(--bottom + 3px));
}
.feature-item__title p {
    --top: 26px;
    --bottom: 9px;
    margin-top: var(--top);
    margin-bottom: var(--bottom);
    font-weight: 600;
    font-size: 2rem;
    line-height: 1;
    color: #152427;
    transition: 0.25s;
}
.feature-item__desc {
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.71;
    color: #7d8188;
}

/* Blog */
.blog {
    font-family: "Poppins";
    font-style: normal;
    margin-bottom: 102px;
}
.blog__title {
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 1.12;
    color: #152427;
}
.blog__title::before {
    margin-right: 21px;
    left: 0;
    bottom: 5px;
    display: inline-block;
    content: "";
    position: relative;
    width: 25px;
    height: 1px;
    background: #152427;
}
.blog-info {
    margin-bottom: 90px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.blog__heading {
    margin-top: 10px;
}
.blog__heading::after {
    right: -14px;
    bottom: 10px;
    display: inline-block;
    content: "";
    position: relative;
    width: 82px;
    height: 3px;
    background: #152427;
}
.blog-info__desc {
    width: 70%;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 1.62;
    color: #7d8188;
}
.blog-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
}

.blog-item__img {
    width: 360px;
    height: 317px;
    object-fit: cover;
    border-radius: 40px 40px 0px 0px;
}
.blog-item__btn {
    margin-bottom: 13px;
    width: 107px;
    height: 26px;
    background: #e2eddf;
    border-radius: 20px;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.2;
    text-align: center;
    color: #000000;
    outline: none;
    border: none;
}
.blog-item {
    transition: 0.25s;
}
.blog-item__btn:hover {
    background: var(--dark-bg);
    color: #fff;
    cursor: pointer;
}
.blog-item:hover .blog-item-content {
    padding-left: 30px;
    padding-bottom: 12px;
    padding-right: 33px;
    border-top: none;
    position: relative;
    width: 360px;
    background: #ffffff;
    box-shadow: 0px 12px 74px rgba(91, 91, 91, 0.25);
    border-radius: 0px 0px 20px 20px;
}
.blog-item:hover .blog-item__heading {
    width: 281px;
}
.blog-item:hover .blog-item__heading::after {
    width: 297px;
    bottom: -9px;
    transition: all ease-in-out 0.01s;
}
.blog-item:hover .blog-item__date {
    margin-top: 25px;
}
.blog-item-content {
    padding-top: 23px;
    padding-right: 23px;
}
.blog-item__heading {
    transition: 0.25s;
    width: 346px;
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #143c3c;
}
.blog-item__heading::after {
    transition: 0.25s;
    bottom: -38px;
    position: relative;
    display: block;
    content: "";
    width: 337px;
    height: 1px;
    background: #c4c4c4;
}
.blog-item__date {
    transition: 0.25s;
    margin-top: 55px;
    text-align: right;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.2;
    color: #575d5e;
}

/* Footer */
.footer {
    background: var(--dark-bg);
    padding-bottom: 51px;
    margin-bottom: 100px;
}
.footer-row {
    padding-top: 72px;
    display: grid;
    grid-template-columns: 1fr 0.25fr 0.25fr 0.25fr 0.25fr;    
}
.box {
    width: 100%;
    height: 1px;
    background: linear-gradient(
        90deg,
        #143c3c 2.28%,
        #295a5a 55.65%,
        rgba(38, 82, 82, 0) 102.06%
    );
}
.footer__heading {
    margin-bottom: 25px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 3.2rem;
    line-height: 48px;
    color: #ffffff;
}
.footer__action {
    padding-bottom: 36px;
    width: 341px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #6a8383;
}

.footer__input input {
    height: 22px;
    border: none;
    background: var(--dark-bg);
}
::placeholder {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1;
    color: #6a8383;
}
.footer-social {
    margin-top: 47px;
    margin-bottom: 45px;
}
.footer-social__img {
    display: flex;
    gap: 22px;
}
.facebook-logo,
.insta-logo,
.twitter-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 52px;
    height: 52px;
    border: 1px solid #265252;
    border-radius: 50%;
}
.insta-logo {
    position: relative;
}
.footer-social__logo-3 {
    position: absolute;
}
.facebook-logo:hover,
.insta-logo:hover,
.twitter-logo:hover {
    background: #a75325;
}
.footer-column__label,
.footer-column__list,
.footer-column__item {
    font-family: "Public Sans";
    font-style: normal;
}
.footer-column__label {
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 1.56;
    color: #ffffff;
    margin-bottom: 6px;
}
.footer-column__item a {
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 2.25;
    color: #6a8383;
}
